.qtable{
	
	max-width:700px;
	float:none;
	margin:100px auto;
	background:#3385D8;
}

.jobtable{
	
	max-width:700px;
	float:none;
	margin:100px auto;
	background:#3385D8;
}

.jobsegment{
	
	background:#A43144;
}

.jobdiv{
	
	background:#A43144;
}